<footer class="screen-width bg-neutral-200 mt-5 m-auto py-6 px-3 rounded-lg">
  <ul class="flex gap-12 justify-center">
    <li>
      <a class="hover:underline hover:text-blue-700 text-lg" href="#"
        >Instagram</a
      >
    </li>
    <li>
      <a class="hover:underline hover:text-blue-700 text-lg" href="#"
        >Facebook</a
      >
    </li>
    <li>
      <a class="hover:underline hover:text-blue-700 text-lg" href="#"
        >Twitter</a
      >
    </li>
    <li>
      <a class="hover:underline hover:text-blue-700" href="#">F.A.Q</a>
    </li>
  </ul>
</footer>
