<header class="bg-gray-200 screen-width m-auto py-6 px-3 rounded-lg">
  <h1 class="text-5xl text-center mb-5">Logo</h1>

  <nav class="flex justify-center items-center gap-12 h-9">
    <a class="hover:underline hover:text-blue-700 text-lg" href="/">Home</a>
    <a class="hover:underline hover:text-blue-700 text-lg" href="/sobre">Sobre</a>
    <a class="hover:underline hover:text-blue-700 text-lg" href="/contato">Contato</a>
  </nav>
</header>
