<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <script src="https://cdn.tailwindcss.com"></script>
  <style type="text/tailwindcss">
    @layer utilities {
      .screen-width {
        width: 800px;
      }
    }
  </style>

  <link rel="stylesheet" href="style.css" />

  <title>Construindo com EJS - <%- typeof pagina != 'undefined' ? pagina: "Home" %></title>
</head>
