<!DOCTYPE html>
<html lang="pt-br">
  <%- include('../partials/head', {pagina: 'Sobre'}); %>

  <body class="p-5">
    <%- include('../partials/header')%>

    <main class="screen-width m-auto mt-4 bg-stone-300 py-9 px-4 rounded-lg">
      <h1 class="font-bold text-3xl">Sobre mim</h1>
      <p class="text-2xl opacity-80 mb-5">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis unde
        rem aut atque adipisci quisquam! Expedita reprehenderit corrupti itaque
        doloribus modi voluptatibus laborum tempore aut, temporibus accusantium
        possimus quo ipsum?
      </p>
      <img
        class="rounded-lg"
        src="https://images.unsplash.com/photo-1522529599102-193c0d76b5b6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
        alt="me"
      />
    </main>

    <%- include('../partials/footer'); %>
  </body>
</html>
