<!DOCTYPE html>
<html lang="pt-br">
  <%- include('../partials/head', {pagina: 'Contato'}); %>
  <body class="p-5">
    <%- include('../partials/header'); %>
    <main class="screen-width m-auto mt-4 bg-stone-300 py-9 px-4 rounded-lg">
      <h1 class="font-bold text-3xl mb-5">Meu contato</h1>
      <p class="text-2xl opacity-80 mb-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A voluptatibus
        cumque aut cupiditate sapiente commodi, molestiae ducimus ipsa modi,
        suscipit quidem? Aliquid eum libero iusto deleniti est deserunt
        consequuntur repellat.
      </p>

      <div class="link-to-linkedin">
        ∘ <a class="text-blue-700" href="./">Linkedin</a>
      </div>
      <div class="link-to-github">
        ∘ <a class="text-blue-700" href="./">Github</a>
      </div>
      <div class="link-to-instagram">
        ∘ <a class="text-blue-700" href="./">Instagram</a>
      </div>
    </main>
    <%- include('../partials/footer'); %>
  </body>
</html>
